<div class="container">
    <h2 class="static_title">КешБэк за AZTORG</h2>
    <div class="static-post">
        <div class="row cashuztop">
            <div class="col-md-20">
                <div class="cashuzitem">
                    <div class="cashuzitemtop"><img src="/click/images/wallet/feat1.svg" alt="">
                        <h5>КешБэк при переводах с карты на карту</h5>
                    </div>
                    <div class="cashuzitembottom"><span style="margin: 0;">до 0.5%</span> <a href="#collapseExample" data-toggle="collapse">Подробнее</a></div>
                    <div id="collapseExample" class="collapse cashuzitemcollapse">
                        <p>* При переводах с карты HUMO на карту HUMO КешБэк начисляется в размере 0.5% от суммы перевода;</p>
                        <p>* При переводах с карты HUMO на карту UZCARD; c UZCARD на HUMO; с UZCARD на UZCARD - КешБэк начисляется в размере 0.25% от суммы перевода</p>
                        <p><em>Правила действуют с 17:30 22.04.2021</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-20">
                <div class="cashuzitem">
                    <div class="cashuzitemtop"><img src="/click/images/wallet/feat2.svg" alt="">
                        <h5>КешБэк за оплаты</h5>
                    </div>
                    <div class="cashuzitembottom"><span style="margin: 0;">до 2%</span> <a href="#collapseExample2" data-toggle="collapse">Подробнее</a></div>
                    <div id="collapseExample2" class="collapse cashuzitemcollapse">
                        <p>C 09.12.2021 при оплате через CLICK сервисов из раздела «Оплата на местах», включая «Выставление счета» и раздела «Оплаты» - «Развлечения»:</p>
                        <p>* КешБэк до 2% зачисляется только при оплате с помощью фирменных карт CLICK.</p>
                        <p>* КешБэк до 0,3% за оплаты с обычных карт и с CLICK-Кошелька.</p>
                        <h5 style="opacity: 1;"><span style="color: #00b1e3;"><em><strong>Важно!</strong></em></span></h5>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em><strong>* Исключения:</strong> КешБэк не начисляется за выплаты UzAvtoSanoat, оплату налогов и штрафов, погашение кредита, а также за оплаты по реквизитам. Также, КешБэк не начисляется за оплату Ж/Д билетов.</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em>* * При оплате сервисов, где комиссия взимается с Пользователей и составляет менее 1%, КешБэк выплачивается в размере комиссии.</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em>* * КешБэк начисляется только за первые 100 оплат каждого сервиса в течение календарного месяца. Если в течение календарного месяца количество произведенных оплат превысит 100 платежей за один и тот же сервис, то за последующие оплаты этого сервиса кешбэк до конца месяца начислен не будет.</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em><strong>* Важные изменения!</strong> С 12.04.2021, 11:00 КешБэк за оплаты коммунальных услуг и государственных платежей начисляется в размере 0,3% при оплате через CLICK с использованием CLICK-кошелька или стандартных банковских карт, и в размере 1% при оплате через CLICK с использованием фирменной карты CLICK.</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em>* С 14.04.2021 КешБэк за оплаты Oriflame и Faberlic начисляется в размере 0,1%</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em>* С 28.09.2021, 18:00 КешБэк за оплаты сервиса HYUNDAI не начисляется</em></span></p>
                        <p style="opacity: 1;"><span style="color: #00b1e3;"><em>* С 10.02.2022 КешБэк за оплаты сервиса Fargo не начисляется</em></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-20">
                <div class="cash-big"><img class="cash-big-img" src="/click/images/money.png">
                    <h4><a href="https://cashback.click.uz/">Большой Кешбэк</a></h4>
                    <div class="d-flex justify-content-between align-items-center"><a style="text-decoration: underline;" href="https://cashback.click.uz/">посмотреть участников программы</a><a href="#collapseExample3" data-toggle="collapse">Подробнее</a></div>
                    <div id="collapseExample3" class="collapse cashuzitemcollapse">
                        <p>Программа «Большой кешбэк» — это зачисление кешбэка до 30% при оплате через CLICK.</p>
                        <p class="mb-1">Оплачивайте товары и услуги наших партнёров из раздела «БОЛЬШОЙ КЕШБЭК» и получайте КешБэки до 30% * на ваш CLICK-Кошелёк.</p>
                        <p>Партнеров, участвующих в программе, а также процент кешбэка у каждого из них, можно посмотреть в разделе «Большой кэшбек» приложения CLICK Evolution и в телеграм боте @clickuz. Если нужного партнера в данном разделе нет, это означает, что программа повышенного кешбэка у партнера пока не активна.</p>
                        <p style="opacity: 1;"><em>* Размер и период действия кешбэка установлен индивидуально для каждого партнера.</em></p>
                        <p style="opacity: 1;"><em>** В рекламе использован максимальный % кешбэка доступный на 01.01.2022.</em></p>
                        <p style="opacity: 1;"><em>*** Выплаты проводятся за счет средств партнера.</em></p>
                        <p style="opacity: 1;"><em>Зачисление бонуса происходит с соблюдением условий <a style="text-decoration: underline;" href="/ru/offerts-big">публичной оферты</a>.</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contListList" style="margin-bottom: 20px;">
            <div class="mb-2">
                <h5><span style="color: #00b1e3;"><em><strong>Правила зачисления кэшбека</strong></em></span></h5>
                <div><span style="color: #00b1e3;"><em>1. КешБэк начисляется только если оплата была произведена в режиме онлайн через приложение CLICK Evolution или Telegram-бот @clickuz.</em></span></div>
                <div><span style="color: #00b1e3;"><em>2. Начисление Кешбэка происходит в течение трёх суток (72 часа) на CLICK-Кошелёк пользователя.</em></span></div>
                <div><span style="color: #00b1e3;"><em>3. Зачисление бонуса происходит на CLICK-Кошелёк с соблюдением условий публичной оферты. <a style="text-decoration: underline;" href="/click-koshelek-offer.html" target="_blank" rel="noopener noreferrer">Подробнее</a></em></span></div>
            </div>
            <p style="color: #00b1e3; opacity: 1;"><strong>Важно:</strong> Максимальная сумма для хранения в неидентифицированном CLICK-Кошельке составляет 5 БРВ. Получение единоразового КешБэка или суммарного КешБэка с остатком кошелька, превышающего 5 БРВ, невозможно.</p>
            <p class="p1"><em>Открыть CLICK-кошелек можно легко, бесплатно и быстро в любом интерфейсе: в приложении CLICK Evolution, в Telegram-боте, на сайте и даже с помощью *880#, если нет интернета. </em></p>
            <p class="p1"><em>Заказать фирменную карту CLICK можно так же легко в приложении CLICK Evolution, в Telegram-боте и на сайте. </em></p>
            <p class="p1"><em>Карта будет готова в течение 3-4х банковских дней. В регионах можно будет забрать карту в отделении банка, а в Ташкенте её могут доставить до дома. С условиями доставки можно ознакомиться при заказе карты.</em></p>
            <p class="p1">С CLICK-Кошелька можно оплачивать более 3000 сервисов и список растет каждый день. </p>
        </div>
    </div>
</div>